*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,h2,h3,h4,p,ul,ol,li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* основной контейнер страницы */
.page {
  display: flex; /* flex-контейнер для центрирования контента */
  width: 1200px; /* ширина всей страницы как в макете */
  height: 100%; /* высота страницы на весь экран */
  margin: auto; /* центрируем горизонтально */
  color: #fff; /* цвет текста по макету */
  font-family: 'Fira Sans Condensed', sans-serif; /* шрифт макета */
  font-size: 18px; /* базовый размер текста */
  background-color: #1b1919; /* фон страницы */
}

/* две колонки слева и справа */
.content {
  display: grid; /* используем grid, чтобы расположить две колонки */
  grid-template-columns: 711px 399px; /* левая колонка для видео/формы, правая для деталей */
  grid-template-areas: "result details"; /* назначаем зоны для секций */
  width: 1140px; /* суммарная ширина колонок + gap (711+399+30) */
  height: 534px; /* фиксированная высота всего блока контента */
  margin-top: 133px; /* отступ сверху страницы по макету */
  margin-left: 30px; /* отступ слева */
  gap: 30px;  /* расстояние между колонками */
  align-items: end; /* прижимаем секции к низу по вертикали */
}

/*  Левая колонка (видео + форма) */
.result {
  grid-area: result; /* привязка к зоне грид-контейнера */
  display: flex; /* flex для вертикального расположения видео и формы */
  flex-direction: column; /* вертикальный поток */
  width: 711px; /* ширина блока из макета */
  height: 456px; /* высота = видео + форма + gap */
  gap: 16px; /* расстояние между видео и формой */
}

.result__video-container {
  width: 711px; /* ширина видео совпадает с блоком */
  height: 386px; /* высота видео по макету */
  margin-bottom: 16px; /* совпадает с gap между видео и формой */
  position: relative; /* Для позиционирования прелоадера */
}

.result__video {
  width: 100%; /* видео занимает всю ширину контейнера */
  height: 100%; /* видео занимает всю высоту контейнера */
  object-fit: cover; /* видео полностью заполняет контейнер без искажений */
}

/* поле под видео */
.search-form {
  display: flex; /* горизонтальное расположение полей и кнопки */
  align-items: flex-start; /* выравниваем по верху формы */
  justify-content: flex-start; /* прижимаем к левому краю */
  gap: 40px; /* расстояние между fieldset и кнопкой */
  width: 711px; /* ширина как у блока .result */
  height: 54px; /* высота формы по макету */
}

.search-form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 225px; /* ширина поля "Город" по макету */
  height: 54px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400; /* Толщина шрифта */
  line-height: 100%;
  color: #FFFFFF;
}
/* Текстовое поле input */
.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 0 4px;
  -webkit-appearance: none; /* Убираем стандартное оформление для Safari*/
  -moz-appearance: none; /* Для Firefox */
  appearance: none; /* Для всех остальных браузеров */
}

/* Лейбл вокруг input */
.search-form__label { 
  cursor: pointer; /* Курсор меняется на руку */
  display: flex; 
  align-items: center; 
  gap: 5px;
  width: fit-content; /* подстраивается под содержимое */ 
} 

.search-form__textfield:focus-visible {
  outline: 1px solid #FFFFFF; /* Обводка при фокусе */
  outline-offset: 2px; /* Отступ обводки от края */
}

/* Показываем внутренний квадрат, когда чекбокс активен */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox:hover {
  border-color: #545050; /* Цвет границы при наведении */
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #FFFFFF; /* Обводка */
  outline-offset: 2px; /* Отступ */
}

/* Подчёркивание текста при наведении на label */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer; /* Курсор в виде руки */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden; /* Скрываем содержимое */
  clip: rect(0 0 0 0); /* Для старых браузеров */
  clip-path: inset(50%); /* Для новых браузеров */
  white-space: nowrap; /* Запрещаем перенос */
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
  width: 212px;
  height: 49px;
  margin-left: 40px;
}

.search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  display: inline-block; /* Блочно-строчный элемент */
  position: relative; /* Для ::after */
  cursor: pointer;
}

/* Внутренний квадрат ::after */
.search-form__pseudo-checkbox::after {
  content: ""; /* Псевдоэлемент с контентом */
  position: absolute;
  top: 50%; /* Центр по вертикали */
  left: 50%; /* Центр по горизонтали */
  width: 16px; /* на 1px меньше, чем псевдочекбокс */
  height: 16px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%); /* Центрируем */
  opacity: 0; /* по умолчанию скрыт */
}

/* Кнопка отправки формы */
.search-form__submit-button {
  cursor: pointer;
  width: 194px;
  height: 34px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-left: auto; /* прижать к правому краю формы */
}

/* Правая колонка */
.content__details {
  grid-area: details;
  display: flex;
  width: 399px;
  height: 534px;
  flex-direction: column; /* элементы внутри располагаются вертикально */
  gap: 26px;
  align-self: end; /* выравниваем сам блок по вертикали в конце сетки */
}

.title {
  width: 259px;
  height: 210px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;  /* высота строки */
  text-transform: uppercase;
  letter-spacing: 0;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  cursor: pointer;
  width: 100%;   
  display: flex;               /* внутренние элементы в строку */
  align-items: flex-start;     /* прижать к верху */
  text-decoration: none;   /* убираем подчеркивание */
  color: #FFFFFF;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;   /* фон активной карточки */
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;  /* высота подстраивается под содержимое */
}

/* карточки видео */
.content__video-card {
  height: 103px;     /* фиксированная высота по макету */
  width: 100%;      
  display: flex;          /* элементы внутри в строку */
  align-items: flex-start; /* прижать к верху */
  gap: 6px;              /* отступ между описанием и изображением */
  cursor: pointer;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;     /* изображение полностью закрывает элемент */
  object-position: center; /* центрируем по изображению */
  flex-shrink: 0;        /* не уменьшаем изображение при сжатии */
}

.content__video-card-description-container {
  width: 196px; /* ширина блока описания видео */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;  
  color: #FFFFFF;
}

.content__video-card-title {
  width: 196px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1; /* высота строки равна размеру шрифта */
  text-transform: uppercase;
  color: #FFFFFF;
  overflow: hidden;           /* скрываем лишнее */
  white-space: nowrap;        /* текст в одну строку */
  text-overflow: ellipsis;    /* троеточие для обрезанного текста */
}

.content__list-item {
  display: block;              /* блочный элемент */
  padding: 0 3px;              /* чтобы обводка не прилипала к краям */
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: inline-flex;            /* корректное отображение кнопки */
  justify-content: center;      /* центрируем текст по горизонтали */
  align-items: center;             /* центрируем текст по вертикали */
  border: 1px solid #FFFFFF;       /* граница */
  background-color: transparent;   /* прозрачный фон */
  color: #FFFFFF;                  /* цвет текста */
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;           /* сбрасываем подчеркивание по умолчанию */
  transition: all 0.2s ease-in-out; /* плавное состояние */
  outline: none;                   /* сброс стандартного фокуса */
}

.content__list-container {
  height: 298px;
  overflow-y: auto;     /* вертикальный скролл */
  padding: 0;           /* убираем отступы */
  margin: 0;            /* убираем внешние отступы */
  box-sizing: border-box; /* учитываем границы при расчёте размеров */
  display: flex;
  flex-direction: column;
  position: relative;
}

.preloader {
  position: absolute;   /* фиксируем относительно родителя */
  top: 0;
  left: 0;
  width: 100%;          /* растягиваем на весь контейнер */
  height: 100%;         /* перекрываем блок */
  display: flex;        /* чтобы центрировать индикатор */
  justify-content: center; /* центр по горизонтали */
  align-items: center;  /* центр по вертикали */
  background-color: rgba(27, 25, 25, 0.6); /* полупрозрачный фон */
  z-index: 10;  /* поверх остальных элементов */
}

.more-button {
  cursor: pointer;
  width: 100%;           /* растягиваем по всей ширине родителя */
  height: 34px;
  border: 1px solid #FFFFFF; /* рамка кнопки */
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;         /* текст по центру */
  justify-content: center; /* горизонтальное центрирование текста */
  align-items: center; /* вертикальное центрирование текста */
  box-sizing: border-box; /* чтобы border не вылезал за 100% */
}


.button:hover {
  text-decoration: underline; /* текст подчёркивается */
}

.button:active {
  color: #545050; 
}

.button:focus-visible {
  outline: 2px solid #FFFFFF; /* обводка при фокусе */
  outline-offset: 2px;
}


.content__card-link:focus-visible {
  outline: 2px solid #FFFFFF;  /* обводка при фокусе */
  outline-offset: 2px;
}

/* Сброс стандартного фокуса */
.content__card-link:focus {
  outline: none;
}

/* === Кастомный скроллбар === */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* ширина полосы прокрутки */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%); /* фон дорожки скролла */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;  /* цвет ползунка скролла */
}
